* {
  margin: 0px;
}

div {
  width: 100px;
  height: 75px;
  float: left;
  border: 3px solid yellow;
  background-color: orange;
}

#center_div {
  border: 3px solid navy;
	padding: 100px 50px 25px 10px;
}

#content {
  background-color: gray;
}
